#Output{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:#feaad3;
    font-size : 50px;
    margin: auto;
    text-align: center;
}
#Pic{
    display: block;
    margin: auto;
    width: 30%;
    /* height: 30%; */
}
#Input{
    outline-style: none ;
    border:1px #949494 solid;
    border-radius: 2px;
    display:block;
    margin: 30 auto;
    padding: 5px 0px;
    width: 100;
    text-align: center;
}
