body{
    background-color: #cef5ff;
}

#Output{
    background-color: #ffffffa9;
    width: 500px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:#feaad3;
    font-size : 50px;
    margin: auto;
    text-align: center;
}
#Pic{
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 200px;
}
#Input{
    background-color: #ffffff6e ;
    outline-style: none ;
    border:0px #949494 solid;
    border-bottom: 1px solid #949494;
    border-radius: 2px;
    display:block;
    margin: 30 auto;
    padding: 10px 0px;
    width: 150px;
    text-align: center;
}
